<% provide(:title, 'Map') %>
<h1>Map</h1>


  <div class="col-md-8" style="height: 100%">
    <%= map(container_id: :map,
      center: {
        latlng: [@current.coordinates.y, @current.coordinates.x],
        zoom: 15
      }
    ) %>
  </div>

  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>Nazwa</dt>
      <dd><%=@current.name%></dd>

      <dt>Typ</dt>
      <dd><%=@current.object_type%></dd>

      <dt>Klasa</dt>
      <dd><%=@current.object_class%></dd>

      <dt>Województwo</dt>
      <dd><%=@current.voivodeship%></dd>

      <dt>Powiat</dt>
      <dd><%=@current.county%></dd>

      <dt>Gmina</dt>
      <dd><%=@current.commune%></dd>

      <dt>Terc</dt>
      <dd><%=@current.terc%></dd>
    </dl>
    <% @voivodeships.each do |voivodeship| %>
      <%= "#{voivodeship.name} " %>
    <% end %>
    <% @places.each do |place| %>
      <%= link_to place.name, maps_path(id: place.id) %>
    <% end %>
  </div>
