<% provide(:title, 'Map') %>
<div class="row"> 
<div class="col-md-12" >
  <div class="row">
    <div class="col-md-10" >
      <input id="name" type="text" data-provide="typeahead" autocomplete="off" placeholder="center map on place">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :points do %>
        <%= check_box_tag :points, 1, true %>
        Points
      <% end %>
      <div class="row">
        <div id="points_checks" class="col-md-11 col-md-offset-1" >
          <% Place::OBJECT_TYPES.each do |object_type, color| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= color_field_tag 'color_' + object_type, color, disabled: true %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :lines do %>
        <%= check_box_tag :lines, 1, true %>
        Lines
      <% end %>
      <div class="row">
        <div id="lines_checks" class="col-md-11 col-md-offset-1" >
          <% Line::ROAD_TYPES.each do |object_type, color| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= color_field_tag 'color_' + object_type, color, disabled: true %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :polygons do %>
        <%= check_box_tag :polygons, 1, true %>
        Polygons
      <% end %>
      <div class="row">
        <div id="polygons_checks" class="col-md-11 col-md-offset-1" >
          <% Polygon::UNIT_TYPES.each do |object_type, color| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= color_field_tag 'color_' + object_type, color, disabled: true %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="row">
    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a id="point">Point</a></li>
      <li><a id="line">Line</a></li>
      <li><a id="polygon">Polygon</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="form-holder">
        <div id="place_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/place_form", locals: { place: Place.new } %>
        </div>
        <div id="line_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/line_form", locals: { line: Line.new } %>
        </div>
        <div id="polygon_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/polygon_form", locals: { polygon: Polygon.new } %>
        </div>

        <div id="edit_place_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/place_form",
            locals: { place: Place.first } %>
        </div>
        <div id="edit_line_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/line_form",
            locals: { line: Line.first } %>
        </div>
        <div id="edit_polygon_remote_form_holder" class="col-md-12">
          <%= render partial: "shared/polygon_form",
            locals: { polygon: Polygon.first } %>
        </div>
      </div>
    </div>
  </div>
</div>

</div> 

<div class="col-md-8" id="maps">
  <div id="mappage">
    <div id="map"></div>
  </div>
</div>


    

