<% provide(:title, 'Map') %>
<div class="row"> 
<div class="col-md-12" >
  <div class="row">
    <div class="col-md-10" >
      <input id="name" type="text" data-provide="typeahead" autocomplete="off" placeholder="center map on place">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :points do %>
        <%= check_box_tag :points, 1, true %>
        Points
      <% end %>
      <div class="row">
        <div id="points_checks" class="col-md-11 col-md-offset-1" >
          <% Place::OBJECT_TYPES.each do |object_type| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :lines do %>
        <%= check_box_tag :lines, 1, true %>
        Lines
      <% end %>
      <div class="row">
        <div id="lines_checks" class="col-md-11 col-md-offset-1" >
          <%["bridleway", "cycleway", "footway", "living_street", "motorway", "motorway_link", "path", "pedestrian", "primary", "primary_link", "residential", "secondary", "secondary_link", "service", "steps", "tertiary", "tertiary_link", "track", "track_grade1", "track_grade2", "track_grade3", "track_grade4", "track_grade5", "trunk", "trunk_link", "unclassified", "unknown"].each do |object_type| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >
      <%= label_tag :polygons do %>
        <%= check_box_tag :polygons, 1, true %>
        Polygons
      <% end %>
      <div class="row">
        <div id="polygons_checks" class="col-md-11 col-md-offset-1" >
          <% ["Commune", "County", "RegistrationArea", "RegistrationUnit", "Voivodeship"].each do |object_type| %>
            <%= label_tag object_type do %>
              <%= check_box_tag object_type %>
              <%= object_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="row">
    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a id="point">Point</a></li>
      <li><a >Line action</a></li>
      <li><a >Polygon</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="form-holder">
    </div>
  </div>
  </div>
</div>

</div> 

<div class="col-md-8" id="maps">
  <div id="mappage">
    <div id="map"></div>
  </div>
</div>


    

